*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.reg-acc{
    padding-right: 1%;
    text-align: right;
}

.my-acc{
    padding-right: 1%;
	text-align: right;
}

.logout-box{
    padding-right: 1%;
	text-align: right;
}